@{
    ViewBag.Title = "Listar produtos";
    var produtos = (List<DemoMVC.Models.ProdutoViewModel>)ViewBag.Produtos;
}
@section titulo {
    <span>Listar Produtos</span>
}
[@Html.ActionLink("Novo Produto", "adicionar", "Produto")]
<p>@TempData["mensagem"]</p>
<h2>Listar produtos</h2>



<div id="lista-produtos">
    @Html.Partial("_ListaDeProdutos", produtos)
</div>


<script type="text/javascript">
    $(function () {
        $('.remover').live('click',function (evt) {
            evt.preventDefault();
            if (confirm("Tem certeza que deseja excluir esse registro?")) {
                $.post($(this).attr('href'), function (html) {
                    $('#lista-produtos').html(html);
                });
            }
        });
    });
</script>
