@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<script src="/Scripts/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>
Nome do produto:
    
@Useall.TextBoxBusca("Nome", "Preco", "Recuperar", "Produto", "nome")

<br />

CPF/Cliente:
@Useall.TextBoxBusca("cpf", "cliente", "Recuperar", "Produto", "nome")
